<!DOCTYPE HTML>
<html>
    <head>
		<meta charset=utf-8>
		<title>Smartlinky</title>
	    <script src="{{ STATIC_URL }}js/modernizr-1.7.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css" media="screen" title="html5doctor.com Reset Stylesheet" />    
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/css3.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/general.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/grid.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
    	<!--[if lt IE 9]>
				<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" />
			<![endif]-->
		{% block head_extra %}
			
        {% endblock head_extra %}
                
	</head>
	<body class="back_top">
		<div class="big_row">
			<header class="row">
				<div class="logo col col_7"><a href="{% url site_index %}"><img src="{{ STATIC_URL }}imgs/logo.gif" alt="smartlinky" /></a></div>
				<nav class="col col_9">
					<ul class="fontface">
						<li><a href="{% url site_index %}"  class="rounded">home</a></li>
						<li><a href="{% url site_search %}"  class="rounded">search</a></li>
						<li><a href="#"  class="rounded">example</a></li>
						<!--<li><a href="#"  class="rounded">reports</a></li>-->
						<li><a href="{% url site_about %}"  class="rounded">about</a></li>
					</ul>
				</nav>
				<div class="clear"></div>
			</header>
		</div>
		<section id="main" class="back_middle big_row">
			<div class="row light">
			   {% block main %}
                {% endblock %}
			</div>
		</section>
		<div class="clear"></div>
		<footer class="back_footer">
			<div class="row">
				<div class="col col_6"><a href="{% url site_index %}"><img src="{{ STATIC_URL }}imgs/logo_small.png" alt="logo smartlinky" /></a></div>
				<div class="col col_5 down_10"><a href="http://djangodash.com/teams/c2/berlin/">Berlin Django Dash 2011</a></div>
				<div class="col col_5 down_10">
					<nav>
						<ul class="pipe">
							<li class="no_pipe"><a href="{% url site_index %}">home</a></li>
							<li><a href="#">example</a></li>
							<!--<li><a href="#">reports</a></li>-->
							<li><a href="{% url site_about %}">about</a></li>
							<li><a href="{% url site_about %}"><img src="{{ STATIC_URL }}imgs/mail.png" alt="email icon" /></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</footer>
	</body>
</html>
