<!DOCTYPE HTML>
<html>
    <head>
		<meta charset=utf-8>
		<title>Smartlinky</title>
	    <script src="../media/js/modernizr-1.7.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="../media/css/reset.css" media="screen" title="html5doctor.com Reset Stylesheet" />    
		<link rel="stylesheet" type="text/css" href="../media/css/css3.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="../media/css/general.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="../media/css/grid.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="../media/css/style.css" media="screen" />
    
	</head>
	<body>
		<div class="row">
			<header>
				<div class="logo col col_7"><img src="../media/imgs/logo.gif" alt="smartlinky" /></div>
				<nav class="col col_9">
					<ul class="fontface">
						<li><a href="#"  class="rounded">home</a></li>
						<li><a href="#"  class="rounded">example</a></li>
						<li><a href="#"  class="rounded">reports</a></li>
						<li><a href="#"  class="rounded">about us</a></li>
					</ul>
				</nav>
				<div class="clear"></div>
			</header>
		</div>
		<section id="main" class="big_row back_middle">
			<div class="row light">
				<h1 class="shadow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br /> Donec sapien odio</h1>
				<article>
					<div id="feeds" class="col col_5 rounded box_shadow">
						<div class="dashed_line"></div>
						<div class="box_shadow_inside red_shadow">
							<h2>feeds</h2>
						</div>
						<div class="dashed_line"></div>
						<ul>
							<li>
								<p>Lorem <a href="#">@ipsum </a>dolor sit amet, consectetur adipiscing elit. Proin et massa dolor, vitae placerat dui. </p>
								<span>from <a href="#">Antonella Twitter</a></span>
							</li>
							<li>
								<p>Lorem <a href="#">@ipsum </a> dolor sit amet, consectetur adipiscing elit. Proin et massa dolor, vitae placerat dui. </p>
								<span>from <a href="#">Antonella Twitter</a></span>
							</li>
							<li>
								<p>Lorem  <a href="#">@ipsum </a> dolor sit amet, consectetur adipiscing elit. Proin et massa dolor, vitae placerat dui. </p>
								<span>from <a href="#">Antonella Twitter</a></span>
							</li>
						</ul>
					</div>
				</article>
				<article id="search">
					<div class="col col_8">
					<form> 
						<input class="box_shadow_inside_light rounded" type=search results=5 name=s placeholder=Search... autosave=unique> 
						<button class="box_shadow_inside red_shadow rounded"> <img src="../media/imgs/search_icon.png" /> </button> 
					</form> 
					<div class="clear"></div>
					<div id="results" class="rounded box_shadow">
						<div class="dashed_line"></div>
							<div class="box_shadow_inside red_shadow">
								<h2>Search Results of <span class="var_results">Lorem</a></h2>
							</div>
							<div class="dashed_line"></div>
							<div class="page">Showing  1  to  10  of  12 </div>
							<div class="num_page">  Page    1   2    ></div>
							<div class="clear"></div>
							<div class="res">
								<h3>Ut tempus vehicula tellus ac tristique. </h3>
								<p>Proin id lobortis ante. Maecenas metus nisi, auctor vitae sodales sit amet, egestas vel urna. Etiam in eros risus, ac adipiscing nibh.</p>
								<a href="#" class="rounded">details</a>
							</div>
							<div class="res">
								<h3>Ut tempus vehicula tellus ac tristique. </h3>
								<p>Proin id lobortis ante. Maecenas metus nisi, auctor vitae sodales sit amet, egestas vel urna. Etiam in eros risus, ac adipiscing nibh.</p>
								<a href="#" class="rounded">details</a>
							</div>
							<div class="res">
								<h3>Ut tempus vehicula tellus ac tristique. </h3>
								<p>Proin id lobortis ante. Maecenas metus nisi, auctor vitae sodales sit amet, egestas vel urna. Etiam in eros risus, ac adipiscing nibh.</p>
								<a href="#" class="rounded">details</a>
							</div>
						</div>
					</div>
				</article>
			</div>
		</section>
		<footer>
		</footer>
	</body>
</html>