@charset "utf-8";
/******* header **********/
header {
	height:80px;
	padding:28px 0 18px 0;
}
header nav ul {
	display:inline;
	font-size:16px;
	float:right;
	margin-top:25px;
	padding-bottom:10px;
}
header nav ul li {
	display:inline;
	margin:5px 10px 0 10px;
}
header nav ul li a{
	padding:4px 8px;
}
header nav ul li a:hover,
header nav ul li a:active {
	background: #41bae2;
	color:#fff;
}
/******* fine header **********/
/******* main **********/
.back_top {
	background:url('../imgs/back_top.jpg') 0 5px repeat-x;
}
.back_middle{
	background:url('../imgs/background.jpg');
}
.back_footer{
	background:url('../imgs/back_footer.jpg') repeat-x;
}
.light {
	background:url('../imgs/light.jpg') no-repeat;
}
#main {
	padding-bottom:15px;
}
#main h1 {
	color: #fff; 
	font-size: 35px;
	text-align:center;
}
.download_chrome_blu {
	background: rgb(15,150,199);
	background: -moz-linear-gradient(top, rgb(15,150,199) 0%, rgb(18,169,219) 50%, rgb(17,164,213) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(15,150,199)), color-stop(50%,rgb(18,169,219)), color-stop(100%,rgb(17,164,213)));
	background: -webkit-linear-gradient(top, rgb(15,150,199) 0%,rgb(18,169,219) 50%,rgb(17,164,213) 100%);
	background: -o-linear-gradient(top, rgb(15,150,199) 0%,rgb(18,169,219) 50%,rgb(17,164,213) 100%);
	background: -ms-linear-gradient(top, rgb(15,150,199) 0%,rgb(18,169,219) 50%,rgb(17,164,213) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f96c7', endColorstr='#11a4d5',GradientType=0 );
	background: linear-gradient(top, rgb(15,150,199) 0%,rgb(18,169,219) 50%,rgb(17,164,213) 100%);
	color:#fff;
	font-size:20px;
	padding:7px 0 2px 30px;
}
.download_chrome {
	background: #fff;
	color:#7a8181;
	font-size:20px;
	padding:7px 0 2px 30px;
}
.chrome_icon {
	background:url('../imgs/chrome_icon.png') 0 0 no-repeat;
	padding:3px 0 3px 35px;
}
.download_icon {
	background:url('../imgs/download_icon.png') 0 0 no-repeat;
	padding:0 0 0 35px;
}
/******* fine main **********/
/******* feeds **********/
article a {
	color:#12a9db;
}
article a:hover{
	color:#3d88a1;
}
article .red_shadow {
	background:#ea4a4a;
	color:#fff;
	font-size:27px;
	height:44px;
	margin-bottom:3px;
	margin-top:3px;
	text-align:center;
	text-transform:uppercase;
}
article #feeds {
	float:right;
	background:#fff;
	border:1px solid #227895;
}
article #feeds ul li  {
	background:url("../imgs/virgolette.png") no-repeat scroll 5px 8px transparent;
	border-bottom:1px dashed #ababab;
	padding:10px 15px 10px 35px;
}
article #feeds ul li p {
	font-size:13px;
	font-style:italic;
}
article #feeds ul li span {
	font-size:11px;
}
article #feeds h2,
article#search h2 {
	line-height:44px;
	font-size:27px;
}
/******* fine feeds **********/
/******* search **********/
article#search {
	padding-bottom:10px;
	margin-top: 32px;
}
article#search input { 
	border:1px solid #19a0be;
	float:left;
	font-family:"Arial";
	height:53px;
	margin-top:2px;
	padding-left:22px;
	width:375px;
}
article#search button {
	border:1px solid #19a0be;
	cursor:pointer;
	float:right;
	height:53px;
	width:60px;
}
article#search button:hover {
-webkit-box-shadow: inset 0px 0px 26px 0px #621111;
-moz-box-shadow: inset 0px 0px 26px 0px #621111;
box-shadow: inset 0px 0px 26px 0px #621111;
}
input[type=search]: { 
	font-size: 16px; 
	height:22px;
	width:100%;
}
input[type="search"]::-webkit-search-cancel-button {

   /* Remove default */
    -webkit-appearance: none;
}
article#search h2{
	margin-left:22px;
	text-transform:none;
	font-size:16px;
	text-align:left;
}
/******* fine search **********/
/******* results **********/
article#search #results{
	background:#fff;
	margin-top:22px;
}
article#search #results .var_results{
	color:#98bccc;
}
article#search #results .page{
	float:left;
}
article#search #results .num_page{
	float:right;
}
article#search #results .res,
article#search #results .page,
article#search #results .num_page{
	padding:10px;
}
article#search #results .res h3{
	color:#12a9db;
	font-size:16px;
}
article#search #results .res p{

}
article#search #results .res a{
	background: #41bae2;
	color:#fff;
	padding:4px 10px;
}
article#search #results .res a:hover{
	-webkit-box-shadow: inset 0px 0px 12px 0px #3d89a1;
	-moz-box-shadow: inset 0px 0px 12px 0px #3d89a1;
	box-shadow: inset 0px 0px 12px 0px #3d89a1;
}
/******* fine results **********/
/******* footer **********/
footer{
	padding-bottom:18px;
	padding-top:18px;
}
footer a{
	color:#12a9db;
}
footer a:hover{
	color:#3d88a1;
}
footer nav ul{
	float:right;
}
footer nav ul li {
	display:inline;
}
footer nav ul li a:active{
	font-weight:bold;
}
/******* fine footer **********/
/******* Other pages **********/
#main .about h1 {
	text-align:left;
}
#main .about p {
	background:rgba(250, 250, 250, .2);
	font-size:16px;
	line-height:24px;
	padding:2em;
}
#main .about a:hover {
	text-align:left;
}
#main .about img {
	float:left;
	margin:0 7px 0 0;
	border:2px solid #3d88a1;
}
#main .about .social img{
	margin-top:10px;
	border:none;
}
#main .about .social img:hover,
#main .about a:hover{
	opacity: 0.6;
}
