@charset "utf-8";
/******* header **********/
header {
	height:80px;
	padding:28px 0 18px 0;
}
header nav ul {
	display:inline;
	font-size:16px;
	float:right;
	margin-top:25px;
	padding-bottom:10px;
}
header nav ul li {
	display:inline;
	margin:5px 10px 0 10px;
}
header nav ul li a{
	padding:4px 8px;
}
header nav ul li a:hover,
header nav ul li a:active {
	background: #41bae2;
	color:#fff;
}
/******* fine header **********/
/******* main **********/
.back_top {
	background:url('../imgs/back_top.jpg') 0 5px repeat-x;
}
.back_middle{
	background:url('../imgs/background.jpg');
}
.back_footer{
	background:url('../imgs/back_footer.jpg') repeat-x;
}
.light {
	background:url('../imgs/light.jpg') no-repeat;
}
#main {
	padding-bottom:15px;
}
#main h1 {
	color: #fff; 
	font-size: 35px;
	padding-top:56px;
	text-align:center;
}
/******* fine main **********/
/******* feeds **********/
article #feeds {
	background:#fff;
	border:1px solid #227895;
}
#feeds ul li  {
	background:url("../imgs/virgolette.png") no-repeat scroll 5px 8px transparent;
	border-bottom:1px dashed #ababab;
	padding:10px 15px 10px 35px;
}
#feeds ul li p {
	font-size:13px;
	font-style:italic;
}
#feeds ul li span {
	font-size:11px;
}
article #feeds h2,
article#search h2 {
	line-height:44px;
}
article a {
	color:#12a9db;
}
article a:hover{
	color:#3d88a1;
}
article .red_shadow {
	background:#ea4a4a;
	color:#fff;
	font-size:27px;
	height:44px;
	margin-bottom:3px;
	margin-top:3px;
	text-align:center;
	text-transform:uppercase;
}
/******* fine feeds **********/
/******* search **********/
article#search {
	float:right;
	padding-bottom:10px;
}
article#search input { 
	float:left;
	height:53px;
	width:375px;
	border:1px solid #19a0be;
	padding-left:22px;
	font-family:"Arial";
}
article#search button {
	border:1px solid #19a0be;
	cursor:pointer;
	float:right;
	height:53px;
	width:60px;
}
article#search button:hover {
-webkit-box-shadow: inset 0px 0px 26px 0px #621111;
-moz-box-shadow: inset 0px 0px 26px 0px #621111;
box-shadow: inset 0px 0px 26px 0px #621111;
}
input[type=search]: { 
	font-size: 16px; 
	height:22px;
	width:100%;
}
article#search h2{
	margin-left:22px;
	text-transform:none;
	font-size:16px;
	text-align:left;
}
/******* fine search **********/
/******* results **********/
article#search #results{
	background:#fff;
	margin-top:22px;
}
article#search #results .var_results{
	color:#98bccc;
}
article#search #results .page{
	float:left;
}
article#search #results .num_page{
	float:right;
}
article#search #results .res,
article#search #results .page,
article#search #results .num_page{
	padding:10px;
}
article#search #results .res h3{
	color:#12a9db;
	font-size:16px;
}
article#search #results .res p{

}
article#search #results .res a{
	background: #41bae2;
	color:#fff;
	padding:4px 10px;
}
article#search #results .res a:hover{
	-webkit-box-shadow: inset 0px 0px 12px 0px #3d89a1;
	-moz-box-shadow: inset 0px 0px 12px 0px #3d89a1;
	box-shadow: inset 0px 0px 12px 0px #3d89a1;
}
/******* fine results **********/
/******* footer **********/
footer{
	padding-bottom:18px;
	padding-top:18px;
}
footer a{
	color:#12a9db;
}
footer a:hover{
	color:#3d88a1;
}
footer nav ul{
	float:right;
}
footer nav ul li {
	display:inline;
}
footer nav ul li a:active{
	font-weight:bold;
}
/******* fine footer **********/
