{% extends 'base.html' %}
{% block main %}
	<div class="about">
        <h1  class="shadow">About Smartlinky</h1>
		<div class="col col_16">
			<h2>Our project</h2>
			<p>The idea is to connect on-line tech documentation sites with sites that may enrich the documentation. 
			For example, for each section of one documentation we can attached links to blog posts, twitter feeds, stackoverflow answers etc, regarding this section.
			Users will be able to add links or influence the order of existing ones. 
			Users will be able to jump to external resource directly from the section they are interested in.</p>
		</div>
		<div class="clear"></div>
		<h1  class="shadow">Our technologies</h1>
		<div class="col col_5">
			 <h2>Frontend</h2>
			 <ul>
				<li>Html 5</li>
				<li>CSS 3</li>
				<li>52framework</li>
				<li>960.gs</li>
			 </ul>
		</div>
		<div class="col col_5">
			<h2>Backend</h2>
		</div>
		<div class="col col_6">
			<h2>Develop</h2>
		</div>
		<div class="clear"></div>
		<h1  class="shadow">About us</h1>
		<div class="col col_5">
			 <h2>Antonella [sempresaurita]</h2>
			 <img src="{{ MEDIA_URL }}imgs/antonella.png" />
			 <a href="http://www.wabidesign.it/">www.wabidesign.it</a>
			 <div class="clear_right"></div>
			<a href="http://www.facebook.com/antonellatezza"><img src="{{ MEDIA_URL }}imgs/facebook-icon.png" /></a>
			<a href="http://twitter.com/#!/antonellatezza"><img src="{{ MEDIA_URL }}imgs/twitter-icon.png" /></a>
			<a href="http://www.linkedin.com/profile/view?id=11325395"><img src="{{ MEDIA_URL }}imgs/linked-icon.png" /></a>
		</div>
		<div class="col col_5">
			<h2>Mateusz [virtuallight]</h2>
			<img src="{{ MEDIA_URL }}imgs/mateusz.jpeg" />
			<a href="http://virtuallight.pl/">www.virtuallight.pl</a>
			<div class="clear_right"></div>
			<a href="http://www.facebook.com/mat.jankowski"><img src="{{ MEDIA_URL }}imgs/facebook-icon.png" /></a>
			<a href="http://www.linkedin.com/profile/view?id=129058247&trk=tab_pro"><img src="{{ MEDIA_URL }}imgs/linked-icon.png" /></a>
		</div>
		<div class="col col_6">
			<h2>Attila [macat]</h2>
			<img src="{{ MEDIA_URL }}imgs/attila.png" />
			<a href="http://www.macat.hu">www.macat.hu</a>
			<div class="clear_right"></div>
			<a href="http://www.facebook.com/macat"><img src="{{ MEDIA_URL }}imgs/facebook-icon.png" /></a>
			<a href="http://twitter.com/#!/macat"><img src="{{ MEDIA_URL }}imgs/twitter-icon.png" /></a>
			<a href="http://www.linkedin.com/profile/view?id=22861244"><img src="{{ MEDIA_URL }}imgs/linked-icon.png" /></a>
		</div>
	</div>
{% endblock %}
