{% extends 'base.html' %}
{% block main %}
	<h1 class="shadow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br /> Donec sapien odio</h1>
	<article>
		<div id="feeds" class="col col_7 rounded box_shadow">
			<div class="dashed_line"></div>
			<div class="box_shadow_inside red_shadow">
				<h2>link feed</h2>
			</div>
			<div class="dashed_line"></div>
			<ul>
				<!-- TODO: get feeds via ajax -->
				{% for link in feeds %}
					<li>
						<!-- TODO: speed up faster lookups on those fields -->
						<!-- TODO: style page and section references -->
						<!-- TODO: style timestamp -->
						<p>{{ link.created_at|time }} :: <a href="{{ link.url }}">{{ link.title }}</a></p>
						<span>in <a href="{{ link.section.page.url }}">{{ link.section.html_title }} of {{ link.section.page.meta_title }}</a></span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</article>
{% endblock %}
