{% extends 'base.html' %}
{% block main %}
	<article id="search"  class="col">
		<div class="col col_8">
			<h1 class="shadow">Improve docs. Just link it ;)</h1>
		</div>
		<div class="col col_8">
			<form> 
				<input class="box_shadow_inside_light rounded" type=search name=q placeholder=Search... autosave=unique {% if query %}value={{ query }}{% endif %}> 
				<button class="box_shadow_inside red_shadow rounded"> <img src="{{ STATIC_URL }}imgs/search_icon.png" alt="search icon" /> </button> 
			</form>
		</div>
		<div id="results" class="col col_8 rounded box_shadow">
			<div class="dashed_line"></div>
				<div class="box_shadow_inside red_shadow">
					{% if query %}
						<h2>Search Results of <span class="var_results">{{ query }}</a></h2>
					{% else %}
						<h2>Be brave! Search now :)</h2>
					{% endif %}
				</div>
				<div class="dashed_line"></div>
				{% if search_results_pag %}
					<div class="page">
						Showing {{ search_results_pag.start_index }} to  {{ search_results_pag.end_index }}  of  {{ search_results_pag.paginator.count }} </div>
					<div class="num_page">  Page
					{% for p in search_results_pag.paginator.page_range %}
						<!-- TODO: preserver search query in the paginator links -->
						<a href="{% url site_index %}?q={{ query }}&page={{ p }}">{{ p }}</a>
					{% endfor %}
					</div>
					<div class="clear"></div>
					<!-- TODO: get search_results_pag via ajax -->
					{% for link in search_results_pag.object_list %}
						<div class="res">
							<h3>{{ link.title }}</h3>
							<!-- TODO: speed up faster lookups on those fields -->
							<!-- TODO: style page and section references -->
							<p>PAGE: {{ link.section.page.meta_title }}, SECTION: {{ link.section.html_title }}</p>
							<a href="{{ link.url }}" class="rounded">details</a>
						</div>
					{% endfor %}
				{% endif %}
			</div>
	</article>
	<article>
		<div class="col_5 float_right">
			<div class="download_chrome_blu rounded_top_right rounded_top_left">
				<h4 class="shadow download_icon">Install Now, It's Free!</h4>
			</div>
			<div class="download_chrome rounded_bottom_right rounded_bottom_left">
				<h4 class="chrome_icon">For Google Chrome</h4>
			</div>
		</div>
		<div id="feeds" class="col col_5 rounded box_shadow">
			<div class="dashed_line"></div>
			<div class="box_shadow_inside red_shadow">
				<h2>link feed</h2>
			</div>
			<div class="dashed_line"></div>
			<ul>
				<!-- TODO: get feeds via ajax -->
				{% for link in feeds %}
					<li>
						<!-- TODO: speed up faster lookups on those fields -->
						<!-- TODO: style page and section references -->
						<!-- TODO: style timestamp -->
						<p>{{ link.created_at|time }} :: <a href="{{ link.url }}">{{ link.title }}</a></p>
						<span>in <a href="{{ link.section.page.url }}">{{ link.section.html_title }} of {{ link.section.page.meta_title }}</a></span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</article>
{% endblock %}
